<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8" />
  <title>MS Paint Fishing Simulator Shop</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <style>
    html,
    body {
      margin: 0 !important;
      padding: 0 !important;
      overflow: hidden;
      background-image: url(./imgs/shop/NewShop.png);
      background-repeat: "no-repeat";
      background-size: 2000px 1000px;
    }

    .button {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 5px 40px;
      cursor: pointer;
    }

    .button1 {
      width: 550px;
      height: 170px;
      opacity: 0;
    }

    .button2 {
      width: 50%;
    }

    .button3 {
      width: 100%;
    }
  </style>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
</head>

<body id="home">
  <canvas id="TheCanvas"></canvas>
  <div id="container" style="position:absolute;left: 950px;top:25px;display: flexbox;">
    <form id="nameform">
      <input id='sell' type="button" class="button button1">
      <br>
      <input id='fishing' type="button" class="button button1">
      <br>
      <input id='axe' type="button" class="button button1">
      <br>
      <input id='pickaxe' type="button" class="button button1">
      <br>
      <input id='exit' type="button" class="button button1">
    </form>
  </div>
  <script>
    var sock = io()
    let canvas = document.getElementById("TheCanvas");
    ctx = canvas.getContext("2d");
    window.addEventListener('resize ', render, false);
    render()
    function render() {
      canvas.width = window.innerWidth;
      canvas.height = window.innerHeight;
      canvasW = canvas.width;
      canvasH = canvas.height;
    }
    var Mapimg = new Image();
    var MapimgIndex = 0;
    $(document).ready(() => {
      sock.emit('getUserData')
      Mapimg.src = '/imgs/shop/NewShop.png'
      $("#container").css("left", canvasW / 2)
      $("#sell").click(() => {
        $.get('/getName', function (data) {
          let name = data.name
          $.ajax({
            url: '/read',
            type: 'GET',
            data: { username: name },
            success: function (data) {
              sock.emit('sell', data)
            },
            dataType: 'json',
          })
        })
      })
      $("#fishing").click(() => {
        window.location.replace('/fishShop')
      })
      $("#axe").click(() => {
        window.location.replace('/axeShop')
      })
      $("#pickaxe").click(() => {
        window.location.replace('/pickaxeShop')
      })
      $("#exit").click(() => {
        $.get('/getName', function (data) {
        let name = data.name
        $.ajax({
          url: '/read',
          type: 'GET',
          data: { username: name },
          success: function (data) {
            $.ajax({
              url: '/savePlayer',
              type: 'PUT',
              data: {
                x: data.x,
                y: 1200,
                cx: data.cx,
                cy: data.cy,
                speed: data.speed,
                coins: data.coins,
                inventory: data.inventory,
                holding: data.holding,
                facing: data.facing,
                face: data.face,
                color: data.color,
                upgrades: data.upgrades,
              },
              success: () => {window.location.replace("/game")}
            })
          },
          dataType: 'json',
        })
        })
      })
    })
    window.onresize = function () {
      Mapimg.src = '/imgs/shop/NewShop.png'
    }

    sock.on("leaving-shop", (data) => {
      $.ajax({
        url: '/savePlayer',
        type: 'PUT',
        data: {
          x: data.x,
          y: 1200,
          cx: data.cx,
          cy: data.cy,
          speed: data.speed,
          coins: data.coins,
          inventory: data.inventory,
          holding: data.holding,
          facing: data.facing,
          face: data.face,
          color: data.color,
          upgrades: data.upgrades,
        },
        success: () => {window.location.replace("/game")}
    })
  })

    sock.on('update-players', (Users) => {
      render()
      ctx.clearRect(0, 0, 10000, 10000);
      $("#container").css("left", canvasW / 2 - 100)
      ctx.drawImage(Mapimg, 0, 0, 2000, 1000);
    });

    
    sock.on('selling', (sold, data) => {
      $.ajax({
              url: '/savePlayer',
              type: 'PUT',
              data: {
                x: data.x,
                y: data.y,
                cx: data.cx,
                cy: data.cy,
                speed: data.speed,
                coins: data.coins,
                inventory: data.inventory,
                holding: data.holding,
                facing: data.facing,
                face: data.face,
                color: data.color,
                upgrades: data.upgrades,
              },
              success: () => {
                if (sold == 0)
                  alertify.alert("Sold", "You have no items to sell");
                else if (sold == 1)
                  alertify.alert("Sold", "Sold item for " + sold + " coin");
                else
                  alertify.alert("Sold", "Sold items for " + sold + " coins");
              }
            })
    });
  </script>

</html>